body
{
    text-align: center;
    background: linear-gradient(grey,black,grey);
}

h2,h1
{
    color: #faf200;
}

a 
{
	border-radius: 50px;
    background: none;	
	color: white;
	padding: 10px 20px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
	transition: 0.7s;
}
/*.stp
{
	width: 140px;
	height: 150px;
}*/
.calc
{
	width: 125px;
	height: 125px;
	border-radius: 7%;
}
p{
	color: #fff;
}
.clck
{
	width: 150px;
	height: 90px;
	margin-bottom:25px;
	transition: 2s;
}
.tim
{
	width: 150px;
	height: 150px;
	border-radius:250px;
	transition: 2s;
}

.back
{
	width:175px;
	height:150px;
}
